body {
	background-image: linear-gradient(57deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
	background-color: #914955;
	font-family: "Open Sans", sans-serif;

}

.topnav {
  background-color: #212223;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.checkin {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D5C1B9;
  color: #000000;
}

.topnav a.active {
  background-color: #914955;
  color: #ffffff;
}

.topnav a.title-header:hover {
  background-color: #212223;
  color: #ffffff;
}

.main-div {
	margin: 0 auto;
	margin-top:5%;
	width: 80%;
	background: #ffffff;
	border-radius: 10px;
	border:2px solid #adb3bc;
	overflow: hidden;
	display: flex;
	flex: 1 1 100%;
	align-items: stretch;
	justify-content: space-between;
	box-shadow: 0 0 20px 6px #21222385;
}

